html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(../img/img05.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .875em;
	color: #5B5B5B;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #222222;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	color: #5E5E5E;
}

/* Header */
header {
	width: 100%;
	margin: 0 auto;
}

header img {
	width: 100%;
	padding-top: 2%;
}

nav {
	width: 100%;
	margin: 0 auto;
}

/* Logo */
#logo {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 0;
}

#logo h1 {
	line-height: 180%;
	letter-spacing: -.03125em;
	font-size: 3.8em;
}

#logo h1 a {
	padding: 2%;
	color: white;
	text-shadow: .03125em .0625em 0 rgba(0, 0, 0, .2);
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Menu */
#menu {
	width: 100%;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: .625em 0 0 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	background-color: silver;
	border-bottom: .0625em solid #E7EBED;
}

#menu a {
	display: block;
	line-height: 4em;
	margin-right: .0625em;
	padding: 0 1.25em 0 1.25em;
	text-decoration: none;
	text-align: center;
	text-shadow: .0625em .0625em 0 rgba(0, 0, 0, .2);
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	color: #1F1F1F;
	border: none;
}

#menu a:hover, #logo a {
	background: url(../img/img01.jpg) repeat;
	text-decoration: none;
	color: #FFFFFF;
}

#container {
	width: 80%;
	margin: 0 auto;
	padding: 1.875em 0;
}

/* Content */
main {
	width: 100%;
}

section {
	margin-bottom: 2.5em;
	border-bottom: .0625em solid #E7EBED;
}

section .title {
	padding: .4375em 0 0 0;
	letter-spacing: -.03125em;
}

section .title a {
	border: none;
	text-decoration: none;
	color: #222222;
}

section .meta {
	margin-bottom: 1.875em;
	padding: .625em 0 0 0;
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	font-weight: 300;
}

section .meta .date {
	display: inline-block;
	width: 49%;
}

section .meta .posted {
	display: inline-block;
	width: 49%;
	text-align: right;

}

section article {
	padding: 0 0 2.5em 0;
	text-align: justify;
}

.links {
	padding-top: 1.25em;
	margin-bottom: 1.875em;
}

.more {
	display: inline-block;
	width: 40%;
	padding: .3125em 0 .3125em 0;
	margin-right: .625em;
	background: #222222;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.comments {
	display: inline-block;
	width: 40%;
	padding: .3125em 0 .3125em 0;
	background: #222222;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

/* Sidebar */
aside {
	width: 80%;
	margin: 0 auto;
	padding: 1.875em 0 0 0;
}

aside ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

aside li {
	margin: 0;
	padding: 0;
}

aside li ul {
	margin: 0 0;
	padding-bottom: 1.875em;
	background-color: #E6E6E6;
}

aside li li {
	line-height: 2.5em;
	border-bottom: .0625em solid #E7EBED;
	margin: 0 0;
	border-left: none;
}

aside li li a {
	padding: 0 0 0 1.25em;
	background: url(../img/img04.jpg) no-repeat left 50%;
	font-size: 1.125em;
}

aside h2 {
	padding: 1em 0 1em 0;
	letter-spacing: -.03125em;
	font-size: 2.125em;
	color: #222222;
	text-align: center;
}

aside p {
	margin: 0 0;
	padding: 0 1.875em 1.25em 1.875em;
	text-align: justify;
}

aside a {
	border: none;
}

aside a:hover {
	text-decoration: underline;
}

/* Footer */
footer {
	background: #050505 url(../img/img01.jpg) repeat;
	clear: both;
	margin: 0 auto;
	padding: 3.125em 0 .9375em 0;
	font-family: 'Abel', sans-serif;
}

footer p {
	margin: 0;
	padding-top: .625em;
	letter-spacing: .0625em;
	line-height: normal;
	font-size: .875em;
	text-transform: uppercase;
	text-align: center;
	color: #5E5E5E;
}

footer a {
	color: #5E5E5E;
}

#banner {
	margin: 0 auto;
	width: 100%;
	height: auto;
	background: url(../img/img03.png) no-repeat left bottom;
}

/* Media Queries */
@media (min-width: 750px) {
	#logo {
		width: 20%;
		float: left;
	}
	#logo h1 {
		font-size: 3em;
	}
	#logo h1 a {
		padding: 5%;
	}
	#menu ul {
		float: right;
	}
	#menu li {
		border-bottom: none;
		background-color: transparent;
		display: inline-block;
	}
	#menu a {
		display: inline-block;
		font-size: 1.25em;
		padding: 0 1em 0 1em;
	}
	.comments, .more {
		width: 25%;
	}
	aside li li a {
		font-size: 1em;
	}
}

@media (min-width: 1000px) {
	main {
		width: calc(100% / 3 * 2);
		float: right;
	}
	aside {
		width: calc(100% / 3 - 1.5em);
		float: left;
	}
	aside h2 {
		text-align: left;
		padding: 0 0 1.875em 0;
		font-size: 1.875em;
	}
	aside li ul {
		background-color: transparent;
	}
	.comments, .more {
		width: 15%;
	}
}
