body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(../img/img05.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5B5B5B;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #222222;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	color: #5E5E5E;
}

/* Header */
header {
	overflow: hidden;
	width: 1000px;
	margin: 0 auto;
}

nav {
	width: 1000px;
	height: 150px;
	margin: 0 auto;
}

/* Logo */
#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

#logo h1 {
	line-height: 120px;
	letter-spacing: -2px;
	font-size: 3.8em;
}

#logo h1 a {
	color: #1F1F1F;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

#logo p {
	margin: 0;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Menu */
#menu {
	float: right;
	width: 500px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 20px 0 0 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	line-height: 100px;
	margin-right: 1px;
	padding: 0 20px 0 20px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #1F1F1F;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: url(../img/img01.jpg) repeat;
	text-decoration: none;
	color: #FFFFFF;
}

#container {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0;
}

main {
	float: right;
	width: 660px;
}

section {
	overflow: hidden;
	margin-bottom: 40px;
	border-bottom: 1px solid #E7EBED;
}

section .title {
	padding: 7px 0 0 0;
	letter-spacing: -1px;
}

section .title a {
	border: none;
	text-decoration: none;
	color: #222222;
}

section .meta {
	margin-bottom: 30px;
	padding: 10px 0 0 0;
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

section .meta .date {
	float: left;
}

section .meta .posted {
	float: right;
}

section article {
	padding: 0 0 40px 0;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	margin-right: 10px;
	background: #222222;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	background: #222222;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

/* Sidebar */
aside {
	float: left;
	width: 270px;
	margin: 0;
	padding: 30px 0 0 0;
}

aside ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

aside li {
	margin: 0;
	padding: 0;
}

aside li ul {
	margin: 0 0;
	padding-bottom: 30px;
}

aside li li {
	line-height: 40px;
	border-bottom: 1px solid #E7EBED;
	margin: 0 0;
	border-left: none;
}

aside li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

aside li li a {
	padding: 0 0 0 20px;
	background: url(../img/img04.jpg) no-repeat left 50%;
}

aside h2 {
	height: 38px;
	padding: 0 0 30px 0;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #222222;
}

aside p {
	margin: 0 0;
	padding: 0 30px 20px 30px;
	text-align: justify;
}

aside a {
	border: none;
}

aside a:hover {
	text-decoration: underline;
}

/* Footer */
footer {
	background: #050505 url(../img/img01.jpg) repeat;
	clear: both;
	height: 140px;
	margin: 0 auto;
	padding: 50px 0 15px 0;
	font-family: 'Abel', sans-serif;
}

footer p {
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #5E5E5E;
}

footer a {
	color: #5E5E5E;
}

#banner {
	margin: 0 auto;
	width: 100%;
	height: 3400px;
	background: url(../img/img03.png) no-repeat left bottom;
}
